.container {
    
    display: flex;
    flex-direction: column;
    gap: 1px;


   /*flex-wrap: wrap;
    gap: 1px;*/

    border-style: none;
    border-width: 0px;
    padding: 0px;
    margin: 5px;
    width: 400px;
    height: 400px; 
}

/*
.container div {
    box-sizing: border-box;   
    border-width: 1px;
    border-style: solid;
    width: 50px;
    height: 50px;
    background-color: grey;
    margin: 0;
    padding: 0;
}
*/

.innerContainer {
    flex: 1;
    display: flex;
    gap: 1px;
}

.innerDiv {
    flex: 1;
    background-color: grey;
}