.container {
    
    display: flex;
    flex-wrap: wrap;
    gap: 1px;

    border-style: solid;
    border-width: 2px;
    padding: 0px;

    max-width: 407px;
    
}

.container div {
    height: 50px;
    width: 50px;
    background-color: grey;
    margin: 0;
    padding: 0;
}